*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.servicesMainPage{
    height: 70vh;
    background-image: url('../images/services/meropriatia/mainImg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.servicesMainPageText{
    width: 100%;
    padding: 20px 150px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1.3px;
}
.servicesMainPageH{
    line-height: 70px;
}
.servicesMainPageP1{
    line-height: 40px;
}
.servicesMainPageP2{
    line-height: 25px;
    margin-left: 20px;
}
.serviceBodySection{
    padding: 20px 100px;
    font-family: sans-serif;
    font-size: 40px;
}
.buttons{
    display: flex;
    gap: 5px;
    margin-top: 20px;
    /* margin-top: 5px; */
}
.servicesButton{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px 20px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 3px;
    color: rgb(153, 153, 153);
    gap: 5px;
    cursor: pointer;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.servicesButtonPhoto{
    width: 20px;
}
.activeButton{
    color: rgb(106, 106, 106);
    border-top: 3px solid #13B3D6;
    border-bottom: none;
    border-left: 1px solid rgb(153, 153, 153);
    border-right: 1px solid rgb(153, 153, 153);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    gap: 5px;
    background-color: white;
    cursor: pointer;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.servicesBody{
    width: 1230px;
    border: 1px solid rgb(153, 153, 153);
}



.servicesCards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.servicesCard{
    width: 280px;
    height: 450px;
    border-radius: 5px;
    border: 1px solid rgb(153, 153, 153);
}
.servicesBodyImg{
    width: 280px;
    height: 160px;
    border-radius: 5px;
}
.card-body{
    padding: 20px;
}
.servicesBodyHeader{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 800;
    margin: 0px 0px 12px;
}
.servicesBodyDescription{
    font-size: 16px;
    line-height: 27px;
}
@media (max-width: 447px){
    .servicesMainPageText{
        padding: 10px 30px;
        letter-spacing: 1px;
        font-size: 10px;
    }
    .servicesMainPageH{
        line-height: 0px;
    }
    .servicesMainPageP1{
        line-height: 50px;
    }
    .servicesMainPageP2{
        line-height: 15px;
        margin-left: 10px;
    }
    .serviceBodySection{
        padding: 10px 10px;
        font-family: sans-serif;
        font-size: 20px;
    }
    .buttons{
        display: flex;
        gap: 5px;
        margin-top: 10px;
    }
    .servicesButton{
        display: flex;
        align-items: center;
        font-weight: 700;
        font-family: sans-serif;
        font-size: 8px;
        padding: 4px 5px;
        gap: 3px;
    }
    .servicesButtonPhoto{
        width: 10px;
    }
    .activeButton{
        font-size: 10px;
        padding: 7px 10px;
        gap: 3px;
    }
    .servicesBody{
        width:240px;
        border: 1px solid rgb(153, 153, 153);
    }
    
    
    
    .servicesCards{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
    }
    .servicesCard{
        width: 220px;
        height: 240px;
        border-radius: 5px;
        border: 1px solid rgb(153, 153, 153);
    }
    .servicesBodyImg{
        width: 220px;
        height: 120px;
        border-radius: 5px;
    }
    .card-body{
        padding: 10px;
    }
    .servicesBodyHeader{
        font-size: 14px;
        margin: 0px 0px 4px;
    }
    .servicesBodyDescription{
        font-size: 10px;
        line-height: 16px;
    }
}
@media (min-width:447.1px) and (max-width:769px) {
    .servicesMainPageText{
        padding: 15px 40px;
        letter-spacing: 2px;
        font-size: 12px;
    }
    .servicesMainPageH{
        line-height: 10px;
    }
    .servicesMainPageP1{
        line-height: 50px;
    }
    .servicesMainPageP2{
        line-height: 15px;
        margin-left: 14px;
    }
    .serviceBodySection{
        padding: 20px 20px;
        font-family: sans-serif;
        font-size: 20px;
    }
    .buttons{
        display: flex;
        gap: 5px;
        margin-top: 14px;
    }
    .servicesButton{
        display: flex;
        align-items: center;
        font-weight: 700;
        font-family: sans-serif;
        font-size: 10px;
        padding: 8px 8px;
        gap: 5px;
    }
    .servicesButtonPhoto{
        width: 14px;
    }
    .activeButton{
        font-size: 14px;
        padding: 6px 14px;
        gap: 3px;
    }
    .servicesBody{
        width:340px;
    }
    
    
    
    .servicesCards{
        gap: 14px;
        padding: 14px;
    }
    .servicesCard{
        width: 300px;
        height: 340px;
        border-radius: 5px;
        border: 1px solid rgb(153, 153, 153);
    }
    .servicesBodyImg{
        width: 300px;
        height: 160px;
        border-radius: 5px;
    }
    .card-body{
        padding: 10px;
    }
    .servicesBodyHeader{
        font-size: 16px;
        margin: 0px 0px 8px;
    }
    .servicesBodyDescription{
        font-size: 14px;
        line-height: 20px;
    }
}
@media (min-width:769.1px) and (max-width:990px) {
    .servicesMainPageText{
        padding: 20px 60px;
        letter-spacing: 3px;
        font-size: 14px;
    }
    .servicesMainPageH{
        line-height: 18px;
    }
    .servicesMainPageP1{
        line-height: 40px;
    }
    .servicesMainPageP2{
        line-height: 14px;
        margin-left: 16px;
    }
    .serviceBodySection{
        padding: 30px 30px;
        font-family: sans-serif;
        font-size: 24px;
    }
    .buttons{
        display: flex;
        gap: 7px;
        margin-top: 18px;
    }
    .servicesButton{
        font-size: 16px;
        padding: 10px 10px;
        gap: 7px;
    }
    .servicesButtonPhoto{
        width: 18px;
    }
    .activeButton{
        font-size: 16px;
        padding: 6px 14px;
        gap: 3px;
    }
    .servicesBody{
        width:700px;
    }
    
    
    
    .servicesCards{
        gap: 16px;
        padding: 18px;
    }
    .servicesCard{
        width: 300px;
        height: 340px;
        border-radius: 5px;
        border: 1px solid rgb(153, 153, 153);
    }
    .servicesBodyImg{
        width: 300px;
        height: 160px;
        border-radius: 5px;
    }
    .card-body{
        padding: 10px;
    }
    .servicesBodyHeader{
        font-size: 16px;
        margin: 0px 0px 8px;
    }
    .servicesBodyDescription{
        font-size: 14px;
        line-height: 20px;
    } 
}
@media (min-width:990.1px) and (max-width:1200px) {
    .servicesMainPageText{
        padding: 20px 60px;
        letter-spacing: 3px;
        font-size: 14px;
    }
    .servicesMainPageH{
        line-height: 16px;
    }
    .servicesMainPageP1{
        line-height: 40px;
    }
    .servicesMainPageP2{
        line-height: 18px;
        margin-left: 16px;
    }
    .serviceBodySection{
        padding: 30px 30px;
        font-family: sans-serif;
        font-size: 24px;
    }
    .buttons{
        display: flex;
        gap: 7px;
        margin-top: 18px;
    }
    .servicesButton{
        font-size: 16px;
        padding: 10px 10px;
        gap: 7px;
    }
    .servicesButtonPhoto{
        width: 18px;
    }
    .activeButton{
        font-size: 16px;
        padding: 6px 14px;
        gap: 3px;
    }
    .servicesBody{
        width:900px;
    }
    
    
    
    .servicesCards{
        gap: 16px;
        padding: 18px;
    }
    .servicesCard{
        width: 300px;
        height: 340px;
        border-radius: 5px;
        border: 1px solid rgb(153, 153, 153);
    }
    .servicesBodyImg{
        width: 300px;
        height: 160px;
        border-radius: 5px;
    }
    .card-body{
        padding: 10px;
    }
    .servicesBodyHeader{
        font-size: 16px;
        margin: 0px 0px 8px;
    }
    .servicesBodyDescription{
        font-size: 14px;
        line-height: 20px;
    } 
}
@media (min-width:1200.1px) {
    .servicesMainPageText{
        padding: 20px 60px;
        letter-spacing: 3px;
        font-size: 14px;
    }
    .servicesMainPageH{
        line-height: 16px;
    }
    .servicesMainPageP1{
        line-height: 40px;
    }
    .servicesMainPageP2{
        line-height: 18px;
        margin-left: 16px;
    }
    .serviceBodySection{
        padding: 30px 30px;
        font-family: sans-serif;
        font-size: 24px;
    }
    .buttons{
        display: flex;
        gap: 7px;
        margin-top: 18px;
    }
    .servicesButton{
        font-size: 16px;
        padding: 10px 10px;
        gap: 7px;
    }
    .servicesButtonPhoto{
        width: 18px;
    }
    .activeButton{
        font-size: 16px;
        padding: 6px 14px;
        gap: 3px;
    }
    .servicesBody{
        width:1100px;
    }
    
    
    
    .servicesCards{
        gap: 16px;
        padding: 18px;
    }
    .servicesCard{
        width: 300px;
        height: 340px;
        border-radius: 5px;
        border: 1px solid rgb(153, 153, 153);
    }
    .servicesBodyImg{
        width: 300px;
        height: 160px;
        border-radius: 5px;
    }
    .card-body{
        padding: 10px;
    }
    .servicesBodyHeader{
        font-size: 16px;
        margin: 0px 0px 8px;
    }
    .servicesBodyDescription{
        font-size: 14px;
        line-height: 20px;
    } 
}